.profile-picture {
    border-radius: 50%;
}

.principal-search {
    height: 30px;
    width: 350px;
    position: relative;
    display: flex;

    img {
        height: 20px;
        position: absolute;
        align-self: center;
        right: 5px;
    }

    input {
        height: 100%;
        width: 100%;
        background: #252423;
        display: flex;
        align-items: center;
        padding: 0 5px;
        color: #d8d8d8;
    }

    input:focus {
        border: 1px solid #d8d8d8;
        border-radius: 5px;  
    }
}


.principal-container {
    h3 {
        color: #fff;
        margin: 10px 0;
        text-align: center;
    }
}

.container-task_label {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    background: #494747;
    padding: 10px 15px;
    gap: 15px;
    color: #fff;
    border-radius: 10px;

    input {
        height: 15px;
        width: 15px;
        appearance: none;
        border: 1px solid #fff;
        border-radius: 3px;
    }

    input:checked {
        background-image: url("../icons/checked.svg");
    }

    p {
        width: 100%;
        padding-right: 40px;
    }
}

.task-completed_p {
    text-decoration: line-through;
}

.container-tasks {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-trash {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
}

.icon-edit {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 30px; 
}

.input-new-task {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    background: #494747;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin: 5px 0;
}

.input-new-task::placeholder {
    color: #ccc;
}

.modal-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    background: #252423;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.edit-header {
    padding: 20px 0;
    
    h5 {
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
    }
}

.modal-textarea {
    width: 80%;
    min-height: 100px;
    max-height: 350px;
    resize: vertical;
    background: #494747;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}

.modal-footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0 10px;
}

.modal-close {
    height: 30px;
    width: 90px;
    background: #4597fd;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #4597fd;
    transition: border-color 0.2s;
    color: #f2f2f2;
}

.modal-cancel {
    background: rgb(221, 69, 69);
    border-color: rgb(221, 69, 69);
}

.modal-close:hover {
    border-color: #fff;
}

.blur {
    filter: blur(3px);
}

@media (width < 500px) {
    .esconder {
        display: none;
    }
}

/* blue color:   4597fd */